body {
  margin: 0;
  font-family: "Lato", "Segoe UI", sans-serif;
  background-color: #fffaf4;
  color: #2d1b12;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
